/* Banner */
.banner-1YaD3N {
    background-image: url("https://www.itl.cat/pngfile/big/69-695306_anime-anime-in-forest.jpg");
}

/* Profile Big + Small Container */
.body-1Ukv50, .topSection-13QKHs, .headerTop-3GPUSF, .body-2wLx-E, .footer-3naVBw {
    background-color: rgba(0, 0, 0, 0.4);
}

/* Small Container for Note */
.bodyInnerWrapper-2bQs1k {
    background-color: rgba(0, 0, 0, 0.0); 
}